body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #f7faff;
}

#title {
  width: 300px;
  margin-bottom: 10px;
}

#board {
  width: 360px;
  height: 360px;
  background-color: lightblue;
  border: 10px solid #0c67ae;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 118px;
  height: 118px;
  border: 1px solid #0c67ae;
}
